<form action="/tweets" method="post">
  <input type="hidden" name="_method" value="put">

  <label>
    Content:
    <input type="text" name="content">
  </label>

  <input type="submit" value="submit">
</form>