<h2>Add a tweet</h2>
<form action="/tweets" method="POST">
  <div class="form-group">
    <input type="text" name="content">
  </div>
  <input class="btn btn-primary" type="submit" value="submit">
</form>
