<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Tweet</title>
  </head>
  <body>
    <h1>Create a new tweet:</h1>
    <form action="/tweets" method="post">
      <label for="content">Content:
        <input type="text" name="content" id="content" value="">
      </label>
      <br>
      <input type="submit" name="submit" id="submit" value="submit">
    </form>
  </body>
</html>
