body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

div.container {
    width: 1000px;
    margin: 0 auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.clear {
    clear:both;
}

nav {
    margin: 50px auto 0 auto;
    text-align: center;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px;
    font-size: 30px;
    color: grey;
}

nav a:hover {
    color: #1c94e0;
}

#error {
    font-size: 20px;
    color: red;
    text-align: center;
}

#tweets {
    margin-top: 50px;
}

#tweets li {
    list-style-type: none;
    display: block;
    padding: 0 0 40px 0;
    text-align: center;
}


#new_tweet {
    margin: 50px auto 100px auto;
    text-align: right;
    width: 450px;
    font-size: 20px;
}

#new_tweet input{
    margin-bottom: 30px;
}

#new_tweet button {
    font-size: 20px;
}


/************* SignUp *****************/

#signup {
    margin: 50px auto 100px auto;
    text-align: right;
    width: 350px;
    font-size: 20px;
}

#signup input{
    margin-bottom: 30px;
}

#signup button {
    font-size: 20px;
}

/************* Login *****************/

#login {
    margin: 50px auto 100px auto;
    text-align: right;
    width: 350px;
    font-size: 20px;
}

#login input{
    margin-bottom: 30px;
}

#login button {
    font-size: 20px;
}