<form method="post" action="/signup">
  <label for="username">Username:</label><input id="username" type="text" name="username"/>
  <label for="email">Email:</label><input id="email" type="email" name="email"/>
  <label for="password">Password:</label><input id="password" type="text" name="password"/>
  <input type="submit" value="sign-up"/>
</form>
