<h1>Login to Fwitter!</h1>
<form method="post" action="/login">
  <div class="form-group">
    <input type="text" name="username" placeholder="Username:">
    <input type="text" name="password" placeholder="Password:">
  </div>
  <input type="submit" class="btn btn-primary" value="submit">
</form>
